

.highscore {
    font-size: 22px; 
    font: bold;
    font-family: 'Oswald', sans-serif;

}

#timer {
    float: right;
    font-size: 22px; 
    font: bold;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
}

#quiz{
    justify-content: center;
    margin: 10%;
    padding: 5%;
    font-size: 22px; 
    text-align: center;
    font-family: 'Nunito', sans-serif;

}


.quiz-header{

    font-size: 32px; 
    font: bold;
    font-family: 'Oswald', sans-serif;
}


.hide {
    display: none;
  }